body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4vh;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 600px) {
  body{
    margin-left: 4vh;
    margin-right: 4vh;
  }
}