html{
  background-color: #bbb;
}

body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 4vh;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 900px) {
  body{
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 600px) {
  body{
    margin-left: 0%;
    margin-right: 0%;
  }
}
